body{
    background: #49d65d;
}

h1{
    color: white;
}
p{
    font-family: Arial;
    font-style: normal;
}
ul{
    font-family: Arial;
    font-style: normal;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
}

.grid-item {
    text-align: center;
}